<?xml version="1.0" encoding="utf-8"?>
<TransportConfigurationSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <TransportConfiguration xsi:type="UdpConfiguration">
    <Name>RedPort</Name>
    <Port>0</Port>
    <RemoteHostName>127.0.0.1</RemoteHostName>
    <RemotePort>27020</RemotePort>
  </TransportConfiguration>
  <TransportConfiguration xsi:type="UdpConfiguration">
    <Name>GreenPort</Name>
    <Port>1</Port>
    <RemoteHostName>127.0.0.1</RemoteHostName>
    <RemotePort>27021</RemotePort>
  </TransportConfiguration>
</TransportConfigurationSettings>